@charset "UTF-8";


* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color:#010101 ;
}

main {
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

section#login {
    text-align: center;
    height: 400px;
    background-color: #57696B;
    color: white;
    flex: 0 1 700px;
    border: 2px solid white;
}

div#imagem {
    height: 200px;
    background: url(../imagens/joystick.jpg) no-repeat center center;
    background-size: cover;
    border: 1px solid white;
}

form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

form > p.dados {
    padding: 5px;
}

input#isenha, input#imail {
    min-width: 350px;
}